In [1]:
import pandas as pd
import numpy as np
import time
import tweepy
import keys

In [2]:
auth = tweepy.OAuthHandler(keys.consumer_key, keys.consumer_secret)
auth.set_access_token(keys.access_token, keys.access_token_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

In [8]:
def get_df_of_follower_user_object(follower_ids):
    followers_user_objects = []
    for i in range(0, len(follower_ids), 100):
        followers_user_objects.extend(api.lookup_users(follower_ids[i:i+100]))
    return pd.DataFrame(followers_user_objects, columns=['user'])

In [18]:
UnfollowTrump_followers_users = get_df_of_follower_user_object(list(UnfollowTrump_followers_id.follower_ID))

In [41]:
UnfollowTrump_followers_users.to_csv('data/UnfollowTrump_followers_users.csv', index = False)

                                                user
0  User(_api=<tweepy.api.API object at 0x7fbe2d36...
1  User(_api=<tweepy.api.API object at 0x7fbe2d36...
2  User(_api=<tweepy.api.API object at 0x7fbe2d36...
3  User(_api=<tweepy.api.API object at 0x7fbe2d36...
4  User(_api=<tweepy.api.API object at 0x7fbe2d36...

In [42]:
def fill_follower_info_df(df):
    df['created_at'] = df['user'].apply(lambda x: x.created_at)
    df['id'] = df['user'].apply(lambda x: x.id)
    df['followers_count'] = df['user'].apply(lambda x: x.followers_count)
    df['friends_count'] = df['user'].apply(lambda x: x.friends_count)
    df['statuses_count'] = df['user'].apply(lambda x: x.statuses_count)
    df['favourites_count'] = df['user'].apply(lambda x: x.favourites_count)

In [43]:
fill_follower_info_df(followers_of_trump)

In [45]:
followers_of_trump.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49616 entries, 0 to 49615
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user              49616 non-null  object
 1   created_at        49616 non-null  datetime64[ns]
 2   id                49616 non-null  int64
 3   followers_count   49616 non-null  int64
 4   friends_count     49616 non-null  int64
 5   statuses_count    49616 non-null  int64
 6   favourites_count  49616 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.6+ MB

In [44]:
followers_of_trump.head()

,user,created_at,id,followers_count,friends_count,statuses_count,favourites_count
0,User(_api=<tweepy.api.API object at 0x7fbe2d36...,2015-04-11 01:32:40,3148798812,142,216,353,190
1,User(_api=<tweepy.api.API object at 0x7fbe2d36...,2020-12-05 21:34:17,1335336680342040576,0,14,0,0
2,User(_api=<tweepy.api.API object at 0x7fbe2d36...,2020-12-05 21:29:32,1335335406888423429,0,28,0,0
3,User(_api=<tweepy.api.API object at 0x7fbe2d36...,2020-08-25 01:52:32,1298075596329611264,1,11,53,93
4,User(_api=<tweepy.api.API object at 0x7fbe2d36...,2020-06-03 15:49:43,1268207712371904513,5,146,120,12

In [30]:
type(followers_of_trump.followers_count)

pandas.core.series.Series

In [22]:
def first_digit_of_count(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49616 entries, 0 to 49615
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user              49616 non-null  object
 1   created_at        49616 non-null  datetime64[ns]
 2   id                49616 non-null  int64
 3   follwer_count     49616 non-null  int64
 4   friends_count     49616 non-null  int64
 5   statuses_count    49616 non-null  int64
 6   favourites_count  49616 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.6+ MB